<section id="proyectos" class="page-section">
    <div>
        <div>
            <h2 class="proyectos__title">Proyectos destacados</h2>
            <p class="proyectos__description">
                He trabajado en muchos proyectos a lo largo de mi carrera como desarrollador web. Estos son algunos de mis proyectos del mundo real.
            </p>
        </div>
        <!-- SWIPER JS -->
        <!-- Slider main container -->
        <app-sliders></app-sliders>

        <div class="mas__proyectos">
            <a href="https://github.com/FabrizioFerroni" rel="nofollow noopener noreferrer" target="_blank">Ver mas en Github
    <!-- <ion-icon name="logo-github" class="icon__proyetos"></ion-icon -->
      <i class="icon__proyetos uil uil-github"></i>

  </a>
        </div>
    </div>
</section>