<section id="inicio" class="page-section">
    <div>
        <h3>Hola, soy</h3>
        <h1>Fabrizio Ferroni</h1>
        <p>
            Desarrollador júnior Full Stack. Creo experiencias web perfectas para usuarios finales.
        </p>
        <div class="buttons__inicio">
            <a href="#quien-soy" class="btn-quien-soy">
              Quien soy
              <!-- <ion-icon name="person"></ion-icon> -->
              <i class="uil uil-user"></i>
          </a>
            <a href="javascript:void(0);" download="CV-Fabrizio-Ferroni.pdf" data-tts="up" aria-label="Descarga mi cv" class="btn-mi-cv">
              Mi CV
              <!-- <ion-icon name="eye"></ion-icon> -->
              <i class="uil uil-eye"></i>
          </a>
            <!-- <embed src="cv/CV-Fabrizio-Ferroni.pdf#toolbar=0" width="500" height="375"> -->
        </div>
    </div>
    <div>
        <!-- <figure>Circulo</figure> -->
        <img src="assets/img/profile.png" alt="Mi foto perfil" />
    </div>
</section>