<footer>
    <div>
        <h4>@2022 Fabrizio Developer</h4>
        <div class="rrss__footer">
            <a href="mailto:hola@fabriziodev.ar" data-tts="up" aria-label="Enviame un email">
                <!-- <ion-icon class="icon__footer" name="mail"></ion-icon> -->
                <i class="icon__footer uil uil-envelopes"></i>

            </a>
            <a href="https://github.com/FabrizioFerroni" rel="nofollow noopener noreferrer" target="_blank" data-tts="up" aria-label="Ve mis proyectos en github">
                <!-- <ion-icon class="icon__footer" name="logo-github"></ion-icon> -->
                <i class="icon__footer uil uil-github"></i>

            </a>
            <a href="https://www.linkedin.com/in/fabrizio-ferroni/" rel="nofollow noopener noreferrer" data-tts="up" aria-label="Seguime en Linkedin">
                <!-- <ion-icon class="icon__footer" name="logo-linkedin"></ion-icon> -->
                <i class="icon__footer uil uil-linkedin"></i>

            </a>
        </div>
    </div>
    <div class="enlaces__footer">
        <a class="otros__links" href="javascript:void(0);">Desarrollo Web</a>
        <a class="otros__links" href="javascript:void(0);">Soporte Técnico</a>
        <p>Diseñado por <a href="javascript:void(0);">@fabriziodev</a></p>
    </div>
</footer>