<div class="proyectos__cards">
    <div class="swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <!-- CARD 1 -->
            <div class="swiper-slide">
                <div class="cards">
                    <img src="assets/img/twinder.png" alt="Img del proyecto" />
                    <div>
                        <h2>TWINDER</h2>
                        <div class="proyectos__update">
                            <span>Ultima actualizacion: hace 5 dias</span>
                            <span class="pl-2">Estado: <span class="publico">Publico</span></span>
                        </div>
                        <p>
                            Una aplicación de geolocalización en vivo para encontrar tweets y usuarios de Twitter a tu alrededor.
                        </p>
                        <div class="proyectos__buttons">
                            <a href="javascript:void(0);" target="_blank" class="live-btn">Ver en vivo <i class="icon__proyectos__btn uil uil-eye"></i> <!--ion-icon class="icon__proyectos__btn" name="eye"></!-ion-icon--></a>
                            <a href="javascript:void(0);" target="_blank" class="github-btn">Github Repo <i class="icon__proyectos__btn uil uil-github"></i> <!--on-icon class="icon__proyectos__btn" class="icon__footer" name="logo-github"></!-ion-icon--></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- FIN CARD 1 -->
            <!-- CARD 2 -->
            <div class="swiper-slide">
                <div class="cards">
                    <img src="assets/img/livents2.png" style="opacity: 40%" alt="Img del proyecto" />
                    <div>
                        <h2>LIVENTS</h2>
                        <div class="proyectos__update">
                            <span>Ultima actualizacion: hace 5 dias</span>
                            <span class="pl-2">Estado: <span class="privado">Privado</span></span>
                        </div>
                        <p>
                            Una aplicación de transmisión de video con geolocalización en vivo, para transmitir eventos.
                        </p>
                        <div class="proyectos__buttons">
                            <a href="javascript:void(0);" target="_blank" class="live-btn">Ver en vivo <i class="icon__proyectos__btn uil uil-eye"></i> <!-- <ion-icon class="icon__proyectos__btn" name="eye"></ion-icon> --></a>
                            <a href="javascript:void(0);" target="_blank" class="github-btn disabled">Github Repo <i class="icon__proyectos__btn uil uil-github"></i> <!--ion-icon class="icon__proyectos__btn" class="icon__footer" name="logo-github"></-ion-icon--></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- FIN CARD 2 -->
            <!-- CARD 3 -->
            <div class="swiper-slide">
                <div class="cards">
                    <img src="assets/img/moove2.png" alt="Img del proyecto" />
                    <div>
                        <h2>MOOVE</h2>
                        <div class="proyectos__update">
                            <span>Ultima actualizacion: hace 5 dias</span>
                            <span class="pl-2">Estado: <span class="publico">Publico</span></span>
                        </div>
                        <p>
                            Aplicación móvil para reservar recogida y devolución instantánea en las principales ciudades.
                        </p>
                        <div class="proyectos__buttons">
                            <a href="javascript:void(0);" target="_blank" class="live-btn">Ver en vivo <i class="icon__proyectos__btn uil uil-eye"></i> <!--<ion-icon class="icon__proyectos__btn" name="eye"></ion-icon>--></a>
                            <a href="javascript:void(0);" target="_blank" class="github-btn">Github Repo <i class="icon__proyectos__btn uil uil-github"></i> <!-- <ion-icon class="icon__proyectos__btn" class="icon__footer" name="logo-github"></ion-icon> --></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- FIN CARD 3 -->
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>
    </div>




</div>