<!-- <nav>
    <ul class="nav__navbar__movil">
        <li>
            <a class="nav__links__movil active" href="/" id="home">
                <i class="uil uil-estate"></i> Inicio
            </a>
        </li>
        <li>
            <a class="nav__links__movil" href="#quien-soy" id="quien__soy">
                <i class="uil uil-user"></i> Quien soy
            </a>
        </li>
        <li>
            <a class="nav__links__movil" href="#proyectos" id="proyecto">
                <i class="uil uil-arrow"></i> Mis proyectos
            </a>
        </li>
        <li>
            <a class="nav__links__movil" href="#contactame" id="contacto">
                <i class="uil uil-envelopes"></i> Contacto
            </a>
        </li>
    </ul>
</nav> -->

<!-- <div id="toggle-menu" class="toggle-menu movil">
    <i class="uil uil-apps"></i>
</div> -->



<!-- <div class="nav__title">
    <a href="/">
        <h3>Fabrizio Developer</h3>
    </a>
</div>

<div class="nav__menu__icons">
    <a class="" href="javascript:void(0);" id="open__menu">
        <i class="uil uil-apps"></i>
    </a>
    <a href="javascript:void(0);" id="cambiar__idioma__movil"><img id="flag__lang__movil" data-lang="usa" title="Cambiar a inglés" src="public/img/flags/usa.png" alt="Cambiar a ingles" /></a>
</div> -->

<header id="header_movil" class="movil">
    <div class="menu-custom movil">
        <a href="/">
            <h3>Fabrizio Developer</h3>
        </a>

        <a id="toggle-menu" class="toggle-menu movil">
            <!-- <a href=""></a> -->
            <i class="uil uil-apps" id="icon"></i>
            <i class="uil uil-times d-none" id="icon-close"></i>
        </a>
    </div>

    <!-- Menu principal -->
    <div class="overlay_menu movil" id="back_menu"></div>
    <nav id="nav">

        <ul class="nav__navbar__movil">
            <li>
                <a class="nav__links__movil " href="/" id="home">
                    <i class="uil uil-estate"></i> Inicio
                </a>
            </li>
            <li>
                <a class="nav__links__movil" href="#quien-soy" id="quien__soy">
                    <i class="uil uil-user"></i> Quien soy
                </a>
            </li>
            <li>
                <a class="nav__links__movil" href="#proyectos" id="proyecto">
                    <i class="uil uil-arrow"></i> Mis proyectos
                </a>
            </li>
            <li>
                <a class="nav__links__movil" href="#contactame" id="contacto">
                    <i class="uil uil-envelopes"></i> Contacto
                </a>
            </li>
        </ul>
    </nav>
</header>