<section id="quien-soy" class="page-section">
    <div>
        <h2 class="quien-soy__title">Quien soy</h2>
        <p class="quien-soy__descripcion">
            Hola, mi nombre es Fabrizio Ferroni, soy un desarrollador web junior Full Stack, diseñador de interfaz de usuario y desarrollador móvil. He perfeccionado mis habilidades en desarrollo web y tengo una comprensión básica de los principios de diseño avanzado
            de la interfaz de usuario. Aquí están las principales habilidades que tengo.
        </p>
        <div class="quien-soy__years">
            <h1>1+</h1>
            <h2>
                Año(s) de experiencia. Especializados en la creación de aplicaciones, al tiempo que garantizan una perfecta experiencia web para usuarios finales.
            </h2>
        </div>
        <div class="quien__soy__movil">
            <div class="quien-soy__cards">
                <!-- CARD 1 -->
                <div class="cards">
                    <img src="assets/img/ux-1.png" title="ux" alt="Logo servicio" />
                    <h3>UI & UX DESINGINING</h3>
                </div>
                <!-- FIN CARD 1 -->
                <!-- CARD 2 -->
                <div class="cards">
                    <img src="assets/img/web-programming-1.png" alt="Logo servicio" />
                    <h3>WEB DEVELOPMENT</h3>
                </div>
                <!-- FIN CARD 2 -->
                <!-- CARD 3 -->
                <div class="cards">
                    <img src="assets/img/app-development.png" alt="Logo servicio" />
                    <h3>MOBILE DEVELOPMENT</h3>
                </div>
                <!-- FIN CARD 3 -->
                <!-- CARD 4 -->
                <div class="cards">
                    <img src="assets/img/web-scraping-1.png" alt="Logo servicio" />
                    <h3>WEB SCRAPING WITH PHYTON</h3>
                </div>
                <!-- FIN CARD 4 -->
            </div>
        </div>
        <div class="quien-soy__services">
            <h2 class="h2__title">Los servicios que ofrezco</h2>
            <div class="quien-soy__cards__services">
                <!-- CARD 1 -->
                <div class="cards">
                    <img src="assets/img/ux-services.png" alt="Logo servicio" />
                    <h2>DISEÑO DE UI Y UX</h2>
                    <p>Diseño hermosas interfaces web con Figma y Adobe XD</p>
                </div>
                <!-- FIN CARD 1 -->
                <!-- CARD 2 -->
                <div class="cards">
                    <img src="assets/img/web.png" alt="Logo servicio" />
                    <h2>DESARROLLO WEB</h2>
                    <p>
                        Creo hermosas interfaces con HTML, CSS y JavaScript simples y también marcos como Angular.
                    </p>
                </div>
                <!-- FIN CARD 2 -->
                <!-- CARD 3 -->
                <div class="cards">
                    <img src="assets/img/mobile.png" alt="Logo servicio" />
                    <h2>DESARROLLO MÓVIL</h2>
                    <p>
                        Soy un desarrollador móvil experto. Tengo experiencia usando Flutter y React Native.
                    </p>
                </div>
                <!-- FIN CARD 3 -->
                <!-- CARD 4 -->
                <div class="cards">
                    <img src="assets/img/git.png" alt="Logo servicio" />
                    <h2>CONTROL DE VERSIONES</h2>
                    <p>
                        Puedo usar bien los sistemas de control de versiones, y Git y Mercurial son mi herramienta preferida.
                    </p>
                </div>
                <!-- FIN CARD 4 -->
                <!-- CARD 5 -->
                <div class="cards">
                    <img src="assets/img/node.png" alt="Logo servicio" />
                    <h2>NPM Y NODEJS</h2>
                    <p>
                        Tengo una comprensión básica de NPM. También puedo desarrollar aplicaciones de propósito general con NodeJS
                    </p>
                </div>
                <!-- FIN CARD 5 -->
                <!-- CARD 6 -->
                <div class="cards">
                    <img src="assets/img/web-scrapping.png" alt="Logo servicio" />
                    <h2>WEB SCRAPING</h2>
                    <p>
                        Puedo recopilar contenido y datos de Internet y luego manipularlos y analizarlos según sea necesario.
                    </p>
                </div>
                <!-- FIN CARD 6 -->
            </div>
        </div>
    </div>
</section>