<header id="header" class="desktop">
    <!-- Menu principal -->
    <nav>
        <div class="nav__title">
            <a href="#inicio" id="logo">
                <h3>Fabrizio Developer</h3>
            </a>
        </div>
        <div class="nav__menu">
            <ul class="nav__navbar">
                <li>
                    <a class="nav__links" href="#inicio" id="home">
                        <i class="icon__menu uil uil-estate"></i> Inicio
                    </a>
                </li>
                <li>
                    <a class="nav__links" href="#quien-soy">
                        <i class="icon__menu uil uil-user"></i> Quien soy
                    </a>
                </li>
                <li>
                    <a class="nav__links" href="#proyectos">
                        <i class="icon__menu uil uil-arrow"></i> Mis proyectos
                    </a>
                </li>
                <li>
                    <a class="nav__links" href="#contactame">
                        <i class="icon__menu uil uil-location-arrow"></i> Contactame
                    </a>
                </li>
                <!-- <li>
                    <a href="javascript:void(0);" id="cambiar__idioma"><img id="flag__lang" data-flag="usa" title="Cambiar a inglés" src="assets/img/flags/usa.png" alt="Cambiar a ingles" /></a>
                </li> -->
            </ul>
        </div>
    </nav>
</header>