<header id="header" class="desktop">
    <!-- Menu principal -->
    <nav>
        <div class="nav__title">
            <a href="/">
                <h3>Fabrizio Developer</h3>
            </a>
        </div>
        <div class="nav__menu">
            <ul class="nav__navbar">
                <li>
                    <a class="nav__links" href="/">
                        <i class="icon__menu uil uil-estate"></i>

                        <!-- <ion-icon class="icon__menu" name="home"></ion-icon> -->
                        Inicio
                    </a>
                </li>
                <li>
                    <a class="nav__links" href="#quien-soy">
                        <!-- <ion-icon class="icon__menu" name="person"></ion-icon> -->
                        <i class="icon__menu uil uil-user"></i> Quien soy
                    </a>
                </li>
                <li>
                    <a class="nav__links" href="#proyectos">
                        <i class="icon__menu uil uil-arrow"></i>

                        <!-- <ion-icon class="icon__menu" name="code-working"></ion-icon> -->
                        Mis proyectos
                    </a>
                </li>
                <li>
                    <a class="nav__links" href="#contactame">
                        <i class="icon__menu uil uil-location-arrow"></i>

                        <!-- <ion-icon class="icon__menu" name="arrow-redo"></ion-icon> -->
                        Contactame
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);" id="cambiar__idioma"><img id="flag__lang" data-flag="usa" title="Cambiar a inglés" src="assets/img/flags/usa.png" alt="Cambiar a ingles" /></a>
                </li>
            </ul>
        </div>
    </nav>
</header>